#row {
    margin-top: 6%;
    display: block;
}
table{
 border-collapse:collapse;
 margin-left: 2%;
 }
table th {
 text-align: center;
}
th, td {
 border:1px solid black;
 width:190px;
 height: 48px;
 }
td {
 text-align:center;
 }
button.btn.btn-light.btn-lg {
    float: left;
    margin: 5% 2%;
    width: 20%;
} 

footer {
    margin-top: 13%;
}